/smart-study/**
/water-sanitation/**
!/panda-possum/
!/panda-possum/**
!/panda-possum/files.json
!/smart-study/
!/smart-study/files.json
!/water-sanitation/
!/water-sanitation/**
!/water-sanitation/files.json
